table {
    width: 70%;
    margin: 20px auto;
    table-layout: fixed;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid;
}

th,
td {
    padding: 5px;
    text-align: center;
}

tr:hover {
    background-color: aquamarine;
}

.result-table {
    max-height: 40%;
    overflow: scroll;
    position: absolute;
    border: 1px solid black;
    float: clear;
}

.result-chart {
    position: absolute;
    float: clear;
}